*{ padding: 0; margin: 0; box-sizing: border-box; font-family: sans-serif;}


/* general */

a{ text-decoration: none;}

section{
    min-height: 70vh;
}

.c{
    height: 70px;
    border: solid  rgb(226, 224, 224);
}

.titre{
    text-transform: uppercase;
    margin-left: 10%;
    padding: 20px 0;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: bold; color: #4864ff;
    position: relative;
}

.titre::after{
    position: absolute; left: -15px;
    height: 50%; width: 5px;
    background-color: #965555;
    content: "";
}

.titre2{
    text-align: center;
    text-transform: capitalize;
   font-size: 17px;
    color: #022851;
    margin: 15px;
}

/* header */

header{ 
    background-color: #222; position: fixed; top: 0; left: 0; right: 0; z-index: 900;
    display: flex; align-items: center; justify-content: space-between;
    height: 50px; padding: 0 5%;
}

header .logo a{
    font-size: 25px;
    color: #4863fff6;
}

header .logo a span{
    color: #fff;
}

.menu1{
    display: flex;
    align-items: center;
}

.menu1 li{
    margin: 0 15px;
    list-style-type: none;
}

.menu1 li a{
    color: #fff;
    font-size: 14px;
}

/* home */

.home{
    min-height: 100vh;
   padding: 50px; background-color: #cbcccb6b;
}


.identité{
    margin: 100px auto;
    display: flex;
    justify-content: center; text-align: center; align-items: center;
}

.content{
    margin-left: 5%; margin-top: 5%;
}

.content h1{ 
    font-size: 60px;
    font-family: serif;
    font-weight: 600;
    color: #000;
}

.content h2 span{
    font-size: 45px;
}

.content h2 i{
    font-weight: 400;
}

.content p{
    margin-top: 10px;
    justify-content: center;
}

.content a{
    background: #4864ff;
    color: #fff;
    padding: 15px 70px;
    margin-top: 30px;
    border-radius: 30px;
    display: inline-block;
    text-decoration: none;
    transition:  0.5s;
}
.content a:hover{
    background: #4863ff6e;
    font-weight: 600;
}

.image img{
    width:160px ; height: 210px;
    /*height: 210px;*/
    border-radius: 100px;
}

/* competences */

.competence{
    background-color: #e2e4e06b;
    /*background-color: #f7faf56b;*/
}

.domaine{
    display: flex; flex-direction: column;
    justify-content: center; align-items: center; align-items: center;
}

.domaine li{
    padding: 10px;
    font-size: 13px;
}

    /* projets */

.projet{
    background: #f3fdee;
}

.projet ol{
    margin-top: 15px;
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border: solid white;
}

.projet li{
    list-style-type: none;
    width: 300px; height: 400px;
    margin-bottom: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
}

.projet img{
    height: 150px;
    width: 150px;
    border-radius: 15px;
    margin-top: 15px;
}

.p{
    padding: 5px 10px;
}

.p-titre{
    font-weight: 600;
    font-size: 16px;
    color:#5a37a0;
    padding: 5px;
}

.p-text{
    font-size: 13px;
    margin: 5px;
}

.p-btn{
    padding: 7px 20px;
    box-shadow: 5px 20px 40px black;
    transition: 0.7s;
}

.p-btn:hover{
    background-color: #ada9a9b0;
}

.p-btn a{
    font-size: 13px;
    color: #f63e4e;
    transition: 0.5s;
}

.p-btn a:hover{
    font-size: 14px;
    font-weight: bold;
}

/* education */

.education{
    background-color: #e2e4e06b;
}

table{
    height: 200px;
    margin: 30px auto;
    font-size: 15px;
    text-align: center;
    width: 90%;
}

/* experience */




/* contact */

.contact{
    height: 150px;
    background-color: #333;
    margin-top: 0;
}

.contact h3{
    text-align: center;
    font-size: 0.8rem;
    padding: 10px;
    margin-bottom: 15px;
    color: white;
}

.contact ol{
    display:flex;
    justify-content:center;
    gap: 25px;
}

.contact li{
    /* ignorer la liste */
    list-style-type: none;
}

.contact img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition:0.5s; 
}

.contact img:hover{
    transform: translate(5px,-2px);
    width: 50px;
}

.mail{
    display: flex; 
    justify-content: center;
}

.button{
    width: 70%;
    margin: 10px;
    padding: 5px;
    border-radius: 30px;
    font-size: 0.8rem;
    border: solid;
    text-align: center;
    background: white;
    transition: 1s;
}
.button:hover{
   background: #4864ff;;
   font-weight: 900;
}

.gotop{
    position: fixed;
    top: 620px ;
    right: 0;
    width: 25px;
}
.gotop img{
    width: 100%;
}

/* menu2 */

.menu2{
    width: 35px;
    height: 25px;
    display: flex;
    align-items: center; 
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.menu2::after{
    content: "";
    height: 2px; 
    width: 20px; 
    background-color: #4864ff/*#29d9d5*/;
    box-shadow: 0 8px 0 #4864ff;
    transform: translateY(-8px); 
    transition: 0.5s;
    position: absolute;
}

.menu2.active::after{
    box-shadow: 0 0 0 #4864ff; 
    transform: rotate(45deg);
}
.menu2::before{
    content: "";
    height: 2px; width: 20px; 
    background-color: #4864ff;
    transform: translateY(8px);
    transition: 0.5s;
    position: absolute;
}
.menu2.active::before{
    transform: rotate(-45deg);
} 
header .menu1.menu1.responsive{
    display: flex; flex-direction: column;
    background-color: #222;
    position: absolute; top: 50px; right: 0;
    align-items: unset;
    animation: animate-menu 1s forwards;
}
header .menu1.responsive li{
    margin: 20px; padding-left: 20px;
    width: 100px;
}

@keyframes animate-menu {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(100);
    }
}




/* responsive */

@media screen and (min-width:880px){
    .image{
        margin-left: 5%;
    }
}

@media screen and (max-width:650px){
    .projet ol{
        display: flex; flex-direction: column;
        justify-content: center; align-items: center;
    }

    .content p{
    text-align: center;
    }
}


@media screen and (max-width:600px){
    .menu1{
        position: absolute;
        top: -100px;
    }
}


@media screen and (max-width:550px){

.identité{
    flex-direction: column-reverse;
    margin: 30px;
}

.image img{
    width: 160px;
    height: 210px;
}

.content{
    margin-top: 10px;
    display: flex;flex-direction: column; justify-content: center; align-items: center; text-align: center;
}

.content h1{ 
    font-size: 30px;
    font-weight: 500;
}

.content h2 span{
    font-size: 30px;
}

.content h2 i{
    font-weight: 300;
}

.content a{
    width: 60%; height: 20%;
    padding: 15px;
    margin-top: 40px;
    text-align: center;
}
.content a:hover{
    background: #4863ff6e;
    font-weight: 500;
}

}

@media screen and (max-width:350px){

    .titre{
        text-transform:capitalize;
        font-size: 16px;
        letter-spacing: 1px;
    }
    
    .titre::after{
        left: -10px; top: 20px;
    }

    .titre2{
       font-size: 15px;
    }

    .projet li{
        width: 250px; min-height: 400px;
        font-size: 13px;
        
    }

    table{
        min-height: 300px;
        font-size: 13px;
        text-transform: lowercase;
    }

    .contact{
        min-height: 150px;
    }
}
